@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald');

* {
    box-sizing: border-box;
}

body {

/* CSS HSL */
    --color1: hsla(47, 95%, 52%, 1);
    --color2: hsla(19, 94%, 56%, 1);
    --color3: hsla(354, 81%, 56%, 1);
    --color4: hsla(271, 54%, 39%, 1);
    --color5: hsla(187, 58%, 53%, 1);
    --color6: hsla(52, 94%, 94%, 1);

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.80);
    --gutter: 30px;


    font-family: 'Heebo', sans-serif;
    background: var(--color6);
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color4);
    color: var(--color6);
    box-shadow: var(--shadow);
}

header nav a {
    color: var(--color6);
    border: 1px solid var(--color6);
    padding: 3px 8px;
    text-decoration: none;
    transition: color 200ms ease-in;
}

header nav a:hover {
    color: var(--color2);
    border: 1px solid var(--color2);
}

header, main {
    padding: 8px;
}

h1 {
    font-family: 'Oswald';
    color: var(--color6);
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.main-image {
    height: 100px;
    margin-top: 40px;
    width: 350px;
}